@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
	height: 100%;

}
body {
	color:black;
	font-size: 13px;
}
::-webkit-input-placeholder {
   font-size: 15px!important;
}
:-moz-placeholder { /* Firefox 18- */
      font-size: 15px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 15px!important;
}
.sortable {
	cursor: pointer;
}
.pageHeader {
	min-height: 50px;
	margin: 15px;
	font-size: 32px;
}
.buttons-container{
	padding-left: 15px;
}
.margined {
	margin-left: 66.5%;
	margin-bottom: 45px;
}
.margined select {
	min-height: 35px;
	font-size: 15px!important
}





